In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot
import math
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

a4_dims = (11.7, 8.27)
sns.set(font_scale = 2)

In [34]:
def nan_check(s):
    if type(s) == str:
        return False
    elif math.isnan(s):
        return True

In [62]:
fa_17_v2 = pd.read_csv("UD75 v2\Fa17UD75_v2_hashed.csv")
sp_18_v2 = pd.read_csv("UD75 v2\Sp18UD75_v2_hashed.csv")
fa_18_v2 = pd.read_csv("UD75 v2\Fa18UD75_v2_hashed.csv")
sp_19_v2 = pd.read_csv("UD75 v2\Sp19UD75_v2_hashed.csv")
fa_19_v2 = pd.read_csv("UD75 v2\Fa19UD75_v2_hashed.csv")
sp_20_v2 = pd.read_csv("UD75 v2\Sp20UD75_v2_hashed.csv")

fa_17_aiils = pd.read_csv("All LS\Fa17 All LS_hashed.csv")
fa_18_aiils = pd.read_csv("All LS\Fa18 All LS_hashed.csv")
fa_19_aiils = pd.read_csv("All LS\Fa19 All LS_hashed.csv")
sp_18_aiils = pd.read_csv("All LS\Sp18 All LS_hashed.csv")
sp_19_aiils = pd.read_csv("All LS\Sp19 All LS_hashed.csv")
sp_20_aiils = pd.read_csv("All LS\Sp20 All LS_hashed.csv")

fa_17_v2_eot = fa_17_v2[fa_17_v2["Include Sb Week Desc"] == 'EOT']
sp_18_v2_eot = sp_18_v2[sp_18_v2["Include Sb Week Desc"] == 'EOT']
fa_18_v2_eot = fa_18_v2[fa_18_v2["Include Sb Week Desc"] == 'EOT']
sp_19_v2_eot = sp_19_v2[sp_19_v2["Include Sb Week Desc"] == 'EOT']
fa_19_v2_eot = fa_19_v2[fa_19_v2["Include Sb Week Desc"] == 'EOT']
sp_20_v2_eot = sp_20_v2[sp_20_v2["Include Sb Week Desc"] == 'EOT']

fa_17_aiils_eot = fa_17_aiils[fa_17_aiils["Include Sb Week Desc"] == 'EOT']
fa_18_aiils_eot = fa_18_aiils[fa_18_aiils["Include Sb Week Desc"] == 'EOT']
fa_19_aiils_eot = fa_19_aiils[fa_19_aiils["Include Sb Week Desc"] == 'EOT']
sp_18_aiils_eot = sp_18_aiils[sp_18_aiils["Include Sb Week Desc"] == 'EOT']
sp_19_aiils_eot = sp_19_aiils[sp_19_aiils["Include Sb Week Desc"] == 'EOT']
sp_20_aiils_eot = sp_20_aiils[sp_20_aiils["Include Sb Week Desc"] == 'EOT']

fa_17_v2_eot = fa_17_v2_eot.drop_duplicates(subset = 'SID')
sp_18_v2_eot = sp_18_v2_eot.drop_duplicates(subset = 'SID')
fa_18_v2_eot = fa_18_v2_eot.drop_duplicates(subset = 'SID')
sp_19_v2_eot = sp_19_v2_eot.drop_duplicates(subset = 'SID')
fa_19_v2_eot = fa_19_v2_eot.drop_duplicates(subset = 'SID')
sp_20_v2_eot = sp_20_v2_eot.drop_duplicates(subset = 'SID')

fa_17_aiils_eot = fa_17_aiils_eot.drop_duplicates(subset = 'SID')
sp_18_aiils_eot = sp_18_aiils_eot.drop_duplicates(subset = 'SID')
fa_18_aiils_eot = fa_18_aiils_eot.drop_duplicates(subset = 'SID')
sp_19_aiils_eot = sp_19_aiils_eot.drop_duplicates(subset = 'SID')
fa_19_aiils_eot = fa_19_aiils_eot.drop_duplicates(subset = 'SID')
sp_20_aiils_eot = sp_20_aiils_eot.drop_duplicates(subset = 'SID')

sp_18_v2_eot_nf = sp_18_v2_eot[sp_18_v2_eot["Entry Status Cd"] == 'NF']
sp_18_v2_eot_nf = sp_18_v2_eot_nf[sp_18_v2_eot_nf["Withdrawal Reason Eff Dt"].apply(nan_check)]

sp_18_aiils_eot_nf = sp_18_aiils_eot[sp_18_aiils_eot["Entry Status Cd"] == 'NF']
sp_18_aiils_eot_nf = sp_18_aiils_eot_nf[sp_18_aiils_eot_nf["Withdrawal Reason Eff Dt"].apply(nan_check)]

C:\Users\viraj\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<h3><center> $P[H_2|H_1] = \dfrac{P[H_2\cap H_1]}{P[H_1]}$ <center> </h3>
    
$P(H_2|H_1)$ is the probability of a given student receiving a hold in the second semester given that they received the hold in the first semester. This can be trained on all hold data up until now. We'll choose spring-fall ordered pairs of datasets.

In [63]:
sp_18_v2_eot_nf

,Unnamed: 0,SID,Include Sb Week Desc,Withdrawal Reason Eff Dt,Entry Status Cd,Educ Non Exam Level Cd,Academic Department Short Nm - Major,Cum Gpa No,Cum Total Units Less Exam No,Cum Transfer Units No,Cum Total Letgrd Attempted No,Cum Ucb Letgrd Units No,Cum Pnp Units No,Cum Total Incomplete No,Term Letgrd Units Attempted No,Eot Term Letgrd Units Complete,Eot Trm Tot Letgrd Grd Pnts No,Eot Term Pnp Units Completed,Term Total Units Attempted No,Eot Term Total Units Completed
1,1,43ebc54ce244f1e20063c73b4007e641416d78a1ae9c5b...,EOT,NaN,NF,4,L&S Undeclared,2.860,92.00,0.00,80.0,80.0,12.0,0.0,15.0,15.0,49.3,0.0,15.0,15.0
7,7,e6f625c719c35d3bf0b230121547db2c64b73c94778b0b...,EOT,NaN,NF,4,L&S Undeclared,2.531,141.00,53.00,88.0,74.0,14.0,4.0,8.0,4.0,12.0,1.0,13.0,5.0
9,9,777b9b727f4b5f0a7936aa9c1244cb8387746cfc55138b...,EOT,NaN,NF,4,L&S Undeclared,2.148,99.00,6.00,93.0,71.0,22.0,0.0,12.0,12.0,28.0,0.0,16.0,12.0
11,11,979fbd753328c3a0543a64dfcbf7c3c117bb947faab0d1...,EOT,NaN,NF,3,L&S Undeclared,2.177,85.00,24.00,58.0,51.0,10.0,0.0,12.0,12.0,18.8,2.0,14.0,14.0
17,17,f3ab81dafeff4736085c6d94d6c1e5b893da31cf6a567f...,EOT,NaN,NF,4,L&S Undeclared,2.801,135.35,13.35,113.0,98.0,24.0,4.0,7.5,3.5,11.9,0.0,7.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,1933,27ae988602807eda5125b8bf3b0bbd9f0c42ccf4df8de9...,EOT,NaN,NF,2,L&S Undeclared,3.713,93.00,67.00,23.0,23.0,3.0,0.0,12.0,12.0,44.2,1.0,13.0,13.0
1937,1937,148299b94e0b2e71089ce4d26935040b48203220896f23...,EOT,NaN,NF,2,L&S Undeclared,2.880,72.00,51.00,21.0,21.0,0.0,0.0,8.0,8.0,24.0,0.0,16.0,8.0
1939,1939,7ec96686ccdaa4eb6fd9e9c676f5bbaaf382014e274def...,EOT,NaN,NF,2,L&S Undeclared,3.380,77.00,50.00,25.0,25.0,2.0,0.0,11.0,11.0,31.8,2.0,13.0,13.0
1941,1941,224ded46a6a0a901537df2933592da761a2afbc63ba605...,EOT,NaN,NF,2,L&S Undeclared,3.814,97.00,67.00,28.0,28.0,2.0,0.0,16.0,16.0,62.8,0.0,16.0,16.0
1955,1955,a8e05c5540c7fdd2ad93c554e6aa7c7984eeae738842de...,EOT,NaN,NF,2,Sociology,3.037,88.00,56.00,32.0,32.0,0.0,0.0,16.0,16.0,45.2,0.0,16.0,16.0

In [91]:
X_draft = sp_18_aiils_eot_nf
X_draft['H_2'] = sp_18_aiils_eot_nf["SID"].isin(fa_18_v2_eot["SID"])
X_draft['H_1'] = sp_18_aiils_eot_nf["SID"].isin(sp_18_v2_eot["SID"])

## Creating model for $P[H_2 \cap H_1]$

Removing declared students from X_draft

In [92]:
X_draft = X_draft[(X_draft['Academic Department Short Nm - Major'] == 'L&S Undeclared') | (X_draft['SID'].isin(sp_18_v2_eot['SID']))]

In [119]:
X_draft.drop('Unnamed: 0', axis = 1, inplace = True)

C:\Users\viraj\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [120]:
X_draft['H_2 and H_1'] = X_draft['H_2'] & X_draft['H_1']

C:\Users\viraj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [121]:
np.count_nonzero(X_draft['H_2'])

1044

In [122]:
np.count_nonzero(X_draft['H_1'])

751

In [123]:
np.count_nonzero(X_draft['H_2 and H_1'])

219

In [124]:
X_draft.describe()

,Cum Gpa No,Cum Total Units Less Exam No,Cum Transfer Units No,Cum Total Letgrd Attempted No,Cum Ucb Letgrd Units No,Cum Pnp Units No,Cum Total Incomplete No,Term Letgrd Units Attempted No,Eot Term Letgrd Units Complete,Eot Trm Tot Letgrd Grd Pnts No,Eot Term Pnp Units Completed,Term Total Units Attempted No,Eot Term Total Units Completed
count,7879.000000,7879.000000,7879.000000,7879.000000,7879.000000,7879.000000,7879.000000,7879.000000,7879.000000,7879.00000,7879.000000,7879.000000,7879.000000
mean,3.296757,45.794269,3.726083,36.109544,35.369184,6.756312,0.138089,12.356124,12.149600,40.40415,2.053674,14.799429,14.203275
std,0.535788,21.002772,9.203398,17.048082,16.552709,5.299943,0.931778,3.155792,3.379324,14.02601,2.147090,2.373989,3.105725
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,2.996500,30.000000,0.000000,24.000000,24.000000,3.000000,0.000000,11.000000,11.000000,31.40000,0.000000,13.000000,13.000000
50%,3.402000,37.000000,0.000000,29.000000,29.000000,6.000000,0.000000,12.000000,12.000000,41.20000,1.500000,15.000000,14.000000
75%,3.700000,60.000000,3.000000,49.000000,48.000000,9.000000,0.000000,15.000000,15.000000,49.90000,3.500000,16.000000,16.000000
max,4.000000,173.000000,86.000000,128.000000,114.000000,42.000000,16.000000,27.000000,27.000000,104.00000,22.000000,32.000000,34.000000

In [125]:
X = X_draft[X_draft.describe().columns]
y = X_draft['H_2 and H_1']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'.format(logreg.score(X_train, y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of Logistic regression classifier on training set: 0.97
Accuracy of Logistic regression classifier on test set: 0.97

In [126]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier().fit(X_train, y_train)
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on training set: 1.00
Accuracy of Decision Tree classifier on test set: 0.97

In [127]:
X_test = sp_19_v2_eot[sp_19_v2_eot["Entry Status Cd"] == 'NF']
X_test = X_test[X_test[X_test["Withdrawal Reason Eff Dt"].apply(nan_check)].describe().columns]

In [130]:
X_test = X_test.fillna(0)
X_test.drop('Unnamed: 0', axis = 1, inplace = True)

In [131]:
probs = logreg.predict_proba(X_test)

In [133]:
probs

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]])